
.comments-list {
  list-style: none;
  list-style-type: none;
}

.avatar {
        width: 2.5em;
        height: 2.5em;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 3px #aaa;
    }